# Dependencies
**/node_modules
.env
*.log

# Build files
client/dist/
client/bun.lock
client/build/
server/dist/
server/yarn.lock

# Environment files
.env
.env.local
client/.env
server/.env